<?xml version="1.0"?>

<config>
  <modules>
    <Intelipost_Shipping>
      <version>0.0.1</version>
    </Intelipost_Shipping>
  </modules>

  <global>
    <models>
      <esprinter_shipping>
        <class>Intelipost_Shipping_Model</class>
      </esprinter_shipping>
    </models>

    <helpers>
      <esprinter>
        <class>Intelipost_Shipping_Helper</class>
      </esprinter>
    </helpers>

    <resources>
      <esprinter_setup>
        <setup>
          <module>Intelipost_Shipping</module>
          <class>Intelipost_Shipping_Model_Resource_Setup</class>
        </setup>
      </esprinter_setup>
    </resources>

    <sales>
      <quote>
        <item>
          <product_attributes>
            <volume_altura />
            <volume_largura />
            <volume_comprimento />
          </product_attributes>
        </item>
      </quote>
    </sales>
  </global>

  <adminhtml>
    <translate>
      <modules>
        <Intelipost_Shipping>
          <files>
            <default>Intelipost_Shipping.csv</default>
          </files>
        </Intelipost_Shipping>
      </modules>
    </translate>
  </adminhtml>

  <frontend>
    <translate>
      <modules>
        <Intelipost_Shipping>
          <files>
            <default>Intelipost_Shipping.csv</default>
          </files>
        </Intelipost_Shipping>
      </modules>
    </translate>
  </frontend>

  <default>
    <carriers>
      <esprinter>
        <active>1</active>
        <model>esprinter_shipping/carrier_esprinter</model>
        <name>Intelipost</name>
        <title>Intelipost</title>
        <notification>1</notification>
      </esprinter>
    </carriers>
  </default>

</config>
